<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>SnoopCat AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='snoopcatlogo.png') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <a href="https://snoopcat.io" id="header-title" target="_blank" style="text-decoration: none;">
                <img src="{{ url_for('static', filename='snoopcatlogo.png') }}" alt="SnoopCat Logo"><strong>SNOOPCAT AI</strong>
            </a>            
        </div>
        <div id="chat-body">
            <div class="chat-message bot-message">
                <img src="{{ url_for('static', filename='snoopcatlogo.png') }}" alt="SnoopCat Logo">
                <div class="message-content">What's up!</div>
            </div>
            <!-- User messages will be appended here -->
        </div>
        <div id="message-input-container">
            <input type="text" id="message-input" placeholder="Write your message">
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
